body {
  margin: 0;
}

html, body, #root {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100%;
}

@media all and (min-width: 480px) {
  .login {
    padding: 60px 0;
  }

  .login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.login-jumbotron {
  padding: 20px 0 65px 0;
}

.login-subheader {
  font-size: 15px;
}

.custom-file {
  margin-top: 25px;
}


