.messages {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 20px;
}

.message-content-container {
    display: flex;
    align-items: flex-end;
}

/*shared styling for message component*/
.message-current-user, .message-other-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

/*shared styling for message body*/
.message-body-current-user, .message-body-other-user {
    display: inline-block;
    padding: 10px;
    background-color: #eee;
    border: 1px;
    border-radius: 5px;
    word-break: break-all;
    font-size: 13px;
}

/*adds color for current user message body*/
.message-body-current-user {
    background-color: #007bff;
    color: #FFFFFFFF
}

/*shared styling for timestamp*/
.timestamp-current-user, .timestamp-other-user {
    min-width: 8%;
    font-size: 10px;
    visibility: hidden;
}

/*styling for current user timestamp for placement*/
.timestamp-current-user {
    order: -1;
}

.message-current-user:hover .timestamp-current-user {
    visibility: visible;
}

.message-other-user:hover .timestamp-other-user {
    visibility: visible;
}

.username-current-user, .username-other-user {
    font-size: 14px;
    font-weight: bold;
}

.current-user-name-container {
    display: none;
}

.message {
    margin-bottom: 15px;
}

.username {
    font-size: 13px;
    font-weight: bold;
}

.message-body {
    display: inline-block;
    padding: 15px;
    background-color: #eee;
    border: 1px;
    border-radius: 5px;
    word-break: break-all;
}

