.messages {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 20px;
}

.message.from-current-user .username {
    display: none
}

.message.from-current-user {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.message.from-current-user .message-body {
    background-color: #007bff;
    color: #eeeeee;
}

.message {
    margin-bottom: 20px
}

.message-body {
    max-width: 80%;
    display: inline-block;
    padding: 20px;
    background-color: #eee;
    border: 1px;
    border-radius: 5px;
    padding-right: 50px
}

